#bar {
    color: black;
    background-color: #37477D;
}


/* Style the links inside the navigation bar */
#bar a {
    background-color: #37477D;
    color: #f2f2f2;
}

/* Change the color of links on hover */
#bar a:hover {
    background-color: #7D6D37;
    color: black;
}


body{
  padding-top: 60px;
  padding-left: 5vw;
  padding-right: 5vw;
}


#produkte img{
  float: right;
  max-height: 100vh;
  max-width: 100vw;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

#produkte img:hover {
    box-shadow: 0 0 3px 2px rgba(0, 140, 186, 0.5);
}


hr {
  size:3px;
  color: #7D6D37;
  background-color: #7D6D37;
}
