/* CSS used here will be applied after bootstrap.css */

/* Topbar: alles was mit der Kopfzeile zu tun hat */
#kopfzeile {
	padding-top: 3px;
	background:#36749C;
	height: 50px;
	font-family: Calibri;
	color: white;
}

#titel{
	font-size: 28px;
	width: 100%;
	color: #282F37;
}

#nachrichtEigene {
	float: right;
	padding: 5;
	max-width: 60%;
	border-style: solid;
	border-color: black;
	color: black;
	background: white;
	border: 5px solid #ddd;
	border-radius: 10px;
	word-wrap: break-word;
}

#nachrichtContact {
	float: left;
	padding: 5;
	max-width: 60%;
	border-style: solid;
	border-color: black;
	color: black;
	background: white;
	border: 5px solid #ddd;
	border-radius: 10px;
	word-wrap: break-word;
}

#uhrZ{
	color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 70%;
	line-height: 0.5;
}

#messageName {
	color:#36749C;
}

#settings {
	float: right;
	color: black;
	background: white;
	width: 5%;
	min-width: 50px;
}

#titelbild {
	float: left;
	min-width: 40px;
	width: 4%;
	height: 45px;
}


/* Für das Kommunikationsfenster bei Einstellungen */
#mymodal{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 80%;
}

/* Contacts: alles was mit der Spalte Kontakte zu tun hat */
 #kontakte {
	padding-top: 2px;
	background:#36749C;
	color:black;
	height: 94%;
	border-style: solid;
	border-color: black;
}

#gruppen {
 padding-top: 2px;
 background:#36749C;
 color:black;
 height: 94%;
 border-style: solid;
 border-color: black;
}

#kontaktbox{
	height: 90%;
	width: 100%;
	border:1px solid #ccc;
	font:16px/26px Georgia, Garamond, Serif;
	overflow-y:auto;
	overflow-x:hidden;
	border-color: #36749C;
}

#userBox > button {
	width: 100%;
}

#gruppenBox > button {
	width: 100%;
}

.dropbtn {
    background-color: #282F37;
    color: white;
    padding: 16px;
    font-size: 16px;
		width: 100%;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #8DAABC;
}

.dropdown {
    position: relative;
    display: inline-block;
	width: 100%;
	font-size: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #282F37;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #282F37}

.show {display:block;}



/* Chat: alles was mit dem Chatblock zu tun hat */
#Chatkontakt{
	background: #8DAABC;
	width: 99%;
	float:left;
	color: black;
	height: 50px;
	font-size: 32px;
}

#Chatfenster{
	height: 94%;
	background: #282F37;
	border-style: solid;
	border-color: black;
	color: white;
}

#kontaktbild {
	float:left;
	height:50px;
	width: 55px;
}

#send{
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 95%;
}

#chatBox {
	height:85%;
	width:100%;
	border:1px solid #ccc;
	font:16px/26px Georgia, Garamond, Serif;
	overflow-y:auto;
	overflow-x:hidden;
	border-color: #282F37;
}

#all {
	max-width: 97vw;
}

body{
	background-color: #282F37;
}
